extends ../layout

block content
  h1= title

  if errors != undefined
    ul(class="form-errors")
      each error in errors
        li= error.msg

  form(id="forgotform" method="POST")
    input(type="email" name="email" id="email" placeholder="Email")
    button(type="submit") Reset
