doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block flash
      if flash.errors
        each error in flash.errors
          p #{error.param} #{error.msg}
      if flash.info
        p #{flash.info}
    block content
