html
  head
    title Richiesta cambio password
  body
    h4
      | Stai ricevendo questa e-mail perchè tu (o qualcun\'altro) ha richiesto la modifica della password per il tuo account.
      br
      |         Clicca il seguente link o incollalo nella barra degli indirizzi del tuo browser per completare il processo di modifica:
    a(href="http://"+host+"/reset/"+token+"", target="_blank") Reset password
    h4
      | Se non hai effettuato la richiesta, puoi ignorare questa email e la tua password rimarrà invariata.
