html
  head
    title __('Password change request')
  body
    h4 #{__('You are receiving this email because you have requested to modify the password for your account')}
      br
      | #{__("Please click the following link or copy and paste on your browser's address bar to modify your password")}
    a(href="http://"+host+"/reset/"+token+"", target="_blank") #{__('Reset password')}
    h4 #{__("If you don't have requested to change your password, please ignore this email and your password will remain unchanged")}
